.menu-containerx {
  position: fixed; // Change to fixed to make it float and stay in view
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 10px 0;
  border-radius: 10px; // Rounded corners
  z-index: 1000; // Ensure it is on top of other content
}
